@charset "utf-8";
abbr,address,article,aside,audio,b,blockquote,body,canvas,caption,cite,code,dd,del,details,dfn,div,dl,dt,em,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,p,pre,q,samp,section,small,span,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,ul,var,video{margin:0;padding:0;outline:0;border:0;background:0 0;vertical-align:baseline;font-size:100%;}
body{overflow-x:hidden;font-size:14px;font-family:"Open Sans","Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei",Arial,Verdana,Tahoma,sans-serif;line-height:1;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
nav ul{list-style:none;}
nav ul{list-style:none;}
li{list-style:none;}
blockquote,q{quotes:none;}
blockquote:after,blockquote:before,q:after,q:before{content:none;}
a{margin:0;padding:0;background:0 0;color:#666;vertical-align:baseline;text-decoration:none;font-size:100%;font-family:Arial,"Microsoft YaHei","WenQuanYi Micro Hei","Open Sans","Hiragino Sans GB",Verdana,sans-serif;}
p{line-height:20px;}
img{margin:0;padding:0;height:auto;max-width:100%;}
ins{background-color:#ff9;color:#323841;text-decoration:none;}
mark{background-color:#ff9;color:#323841;font-weight:700;font-style:italic;}
del{text-decoration:line-through;}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help;}
table{border-collapse:collapse;border-spacing:0;}
hr{display:block;margin:1em 0;padding:0;height:1px;border:0;border-top:1px solid #EDEDED;}
button,input,select,textarea{vertical-align:middle;font-family:Arial,"Microsoft YaHei","WenQuanYi Micro Hei","Open Sans","Hiragino Sans GB",Verdana,sans-serif;}
sub{vertical-align:sub;font-size:.83em;}
sup{vertical-align:super;font-size:.83em;}
#logo{position:relative;z-index:0;float:left;margin-top:20px;margin-right:10px;width:180px;height:48px;text-align:center;}
#logo .logoimg{overflow:hidden;width:180px;height:48px;background:url(../images/logo.png) no-repeat scroll 0 0 transparent;line-height:48px;}
#logo .logoimg a{display:block;text-indent:-9999px;}
.widget-box{position:relative;clear:both;margin-bottom:20px;border-top:1px solid #E1E1E1;border-right:1px solid #E1E1E1;border-left:1px solid #E1E1E1;background:none repeat scroll 0 0 #fff;}
.widget-title h2{margin:0;padding:14px 14px 14px 50px;font-size:14px;line-height:12px;}
.widget-box.widget-calendar,.widget-box.widget-chat{overflow:hidden!important;}
.accordion .widget-box{margin-top:-2px;margin-bottom:0;}
.widget-box.widget-plain{margin-top:0;margin-bottom:0;border:none;background:0 0;}
.widget-title{height:40px;border-bottom:1px solid #E1E1E1;background:#F8F8F8;}
.widget-title .nav-tabs{border-bottom:0 none;}
.widget-title .nav-tabs li a{margin:0;padding:9px 10px 8px;outline:medium none;border-top:medium none;border-right:1px solid #DDD;border-bottom:medium none!important;border-left:1px solid #DDD;color:#999;text-shadow:0 1px 0 #fff;font-weight:700;}
.widget-title .nav-tabs li:first-child a{border-left:medium none!important;}
.widget-title .nav-tabs li a:hover{border-color:#D6D6D6;border-width:0 1px;background-color:transparent!important;color:#2b2b2b;}
.widget-title .nav-tabs li.active a{background-color:#fff!important;color:#666;}
.widget-title span.icon{float:left;padding:10px 13px;min-width:13px;border-right:1px solid #dadada;line-height:20px;}
.widget-title h3{float:left;margin:0;padding:14px;color:#666;line-height:12px;}
.widget-title .more{float:right;margin:12px 10px 0 0;}
.widget-title .more a{text-decoration:underline;}
.widget-title .label{float:right;margin:9px 11px 0 0;padding:3px 5px 2px;box-shadow:0 1px 2px rgba(0,0,0,.3) inset,0 1px 0 #fff;}
.widget-calendar .widget-title .label{margin-right:190px;}
.widget-content{position:relative;z-index:1;padding:10px 15px;border-bottom:1px solid #E1E1E1;}
.widget-box.widget-plain .widget-content{padding:12px 0 0;}
.widget-box.collapsible .collapse.in .widget-content{border-bottom:1px solid #E1E1E1;}
#top-bar{position:fixed;top:0;left:0;z-index:10;margin:0;width:100%;height:48px;background:#323841;}
#top-bar>ul #qqqun a{background:#09B1B9;}
#top-bar>ul #qqqun a:hover{background:#8463A9;}
#top-bar>ul #swb{float:left;margin-top:13px;}
#top-bar>ul #qq a{float:left;padding:0;background:0 0;}
#top-bar>ul li.wx .weixin{position:absolute;top:35px;left:-60px;z-index:999;display:none;padding:5px;width:200px;background:#09B1B9;}
#top-bar>ul li.wx:hover .weixin{display:block;}
#top-bar>ul{margin:0;margin-left:2px;padding:0;list-style:none;}
#top-bar>ul>li{position:relative;float:left;margin:13px 10px 0 0;list-style-type:none;}
#top-bar>ul>li>a{display:block;padding:3px 10px;height:16px;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;color:#f8f8f8;font-size:14px;background:#09B1B9;}
#top-bar>ul>li>a:hover{background:#8463A9;}
#top-bar>ul>li.open>a{background:#8463A9;}
#top-bar>ul>li>a>.label{display:inline-block;margin:-2px 4px 0;padding:1px 4px 1px;vertical-align:middle;}
#top-bar>ul ul>li>a{color:#ddd;text-align:left;font-size:14px;}
#top-bar>ul ul>li>a:hover{background:#8463A9;color:#f8f8f8;}
#top-bar>ul>li.fep i{margin:3px 3px 0 3px;color:#fff;}
#top-bar>ul .user-dashboard li.current-menu-item a{color:#f8f8f8;}
#top-bar>ul .user-btn a{padding:3px 12px 4px 12px;height:15px;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;background:#E14D43;font-size:14px;}
#top-bar>ul .user-btn a i{padding-right:5px;}
#top-bar>ul .user-reg a{background:#F58B3C;}
#top-bar>ul .user-dashboard li a:hover{background:#09B1B9;}
.gright{line-height:150%;}
.text-Bar-head{text-align:center;}
.text-Bar-body{margin-top:5px;text-indent: 2em;}
.text-Bar-head .text-Bar-body{font-size:14px;font-family:Arial,"Microsoft YaHei","WenQuanYi Micro Hei","Open Sans","Hiragino Sans GB",Verdana,sans-serif;}
@font-face {
	font-family:hymmnos;
	src: url('../fonts/hymmnos.ttf');
}	
#linshi{height:250px;}
.more-link{float:right;padding:8px 10px;border-radius:3px;background:#E14D43;color:#fff;text-align:center;}
#textArea{overflow: hidden;white-space: nowrap;text-overflow: ellipsis;width:80%;}
.post-meta{margin:8px 0;color:#999;font-size:12px;line-height:20px;}
.post-meta span{margin-right:10px;color:#999;}
.post-meta span i{margin-right:3px;}
.row-fluid .post-meta span {
    margin-right: 8px!important;
    font-size: 80%!important;
}
.archive-simple h2,.archive-simple p.post-meta{float:left;width:98%;}
#post-header .post-meta{width:100%;}
.archive-thumb:last-child{margin-bottom:15px;}
.archive-thumb:hover h2 a{color:#09B1B9;}
.archive-thumb img{float:right;margin-left:2.8169014084507%;width:25.35211267605634%;height:auto;max-width:330px;min-width:150px;}
.archive-thumb .float-left img{float:left;margin-right:2.8169014084507%;margin-left:0;}
.archive-thumb h2{margin:0 -15px 20px -15px;padding:8px 15px;border-top:1px solid #eee;border-bottom:1px solid #eee;background:#FDFDFD;font-weight:400;font-size:18px;line-height:24px;}
.archive-thumb p{line-height:24px;word-break:break-all;}
.archive-thumb .post-meta{margin:15px 0 0;}
.original-thumb .original-thumb-img{text-align:center;}
.original-thumb .float-left img,.original-thumb img{float:none;margin:0 auto 10px auto;width:auto;height:auto;max-width:98%;}
.archive-simple p.post-meta{float:right;width:36%;text-align:right;}
.archive-simple p.post-meta span a{margin-right:0;}
.archive-thumb{margin-bottom:20px;}
.archive-thumb:last-child{margin-bottom:15px;}
.archive-thumb:hover h2 a{color:#09B1B9;}
.archive-thumb img{float:right;margin-left:2.8169014084507%;width:25.35211267605634%;height:auto;max-width:330px;min-width:150px;}
.archive-thumb .float-left img{float:left;margin-right:2.8169014084507%;margin-left:0;}
.archive-thumb h2{margin:0 -15px 20px -15px;padding:8px 15px;border-top:1px solid #eee;border-bottom:1px solid #eee;background:#FDFDFD;font-weight:400;font-size:18px;line-height:24px;}
.archive-thumb p{line-height:24px;word-break:break-all;}
.archive-thumb .post-meta{margin:15px 0 0;}
.btn{margin:5px;}
.login-btn{line-height: 32px;font-size:14px;font-family:Arial,"Microsoft YaHei","WenQuanYi Micro Hei","Open Sans","Hiragino Sans GB",Verdana,sans-serif;text-align: center;width:190px;height:30px;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;background:#09B1B9;color:#f8f8f8;cursor:pointer;}
.login-btn:hover{background:#8463A9;}
#bxsliderDiv{margin-top:20px;}
html{background:#323841}
.user-login {margin:20px 10px;width:200px;color:#ddd;}
.user-login li{margin:10px 0;width:100%;color:#ddd;}
.user-login li a.pw-reset{margin-left:5px;background:0 0;color:#ddd;}
.user-login li a.pw-reset:hover{color:#fff;}
.user-login li a,.user-login li input{font-size:14px;font-family:Arial,"Microsoft YaHei","WenQuanYi Micro Hei","Open Sans","Hiragino Sans GB",Verdana,sans-serif;}
.user-login li input{margin-left:5px;border:none;background:#f8f8f8;}
.user-login li input.ipt{padding:3px;width:164px;height:20px;}
.user-login li input.login-btn{width:190px;height:30px;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;background:#09B1B9;color:#f8f8f8;cursor:pointer;}
.user-login li input.login-btn:hover{background:#8463A9;}
.user-register {margin:20px 10px;width:200px;color:#ddd;}
.user-register li{margin:10px 0;width:100%;color:#ddd;}
.user-register li a.pw-reset{margin-left:5px;background:0 0;color:#ddd;}
.user-register li a.pw-reset:hover{color:#fff;}
.user-register li a,.user-login li input{font-size:14px;font-family:Arial,"Microsoft YaHei","WenQuanYi Micro Hei","Open Sans","Hiragino Sans GB",Verdana,sans-serif;}
.user-register li input{margin-left:5px;border:none;background:#f8f8f8;}
.user-register li input.ipt{padding:3px;width:164px;height:20px;}
.user-register li input.login-btn{width:190px;height:30px;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;background:#09B1B9;color:#f8f8f8;cursor:pointer;}
.user-register li input.login-btn:hover{background:#8463A9;}
.dropdown-togglepopup-login{background:#09B1B9;}
.row-fluid{width:100%;}
.row-fluid:after,.row-fluid:before{display:table;content:"";line-height:0;}
.row-fluid:after{clear:both;}
.row-fluid [class*=span]{float:left;display:block;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;margin-left:2.127659574468085%;width:100%;min-height:30px;}
.row-fluid [class*=span]:first-child{margin-left:0;}
.row-fluid .controls-row [class*=span]+[class*=span]{margin-left:2.127659574468085%;}
.row-fluid .span2{width:65.95744680851064%;}
.row-fluid .span1{width:31.914893617021278%;}
.row-fluid .span3{width:100%;}
.word-row-fluid [class*=span]{float:left;display:block;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;margin-left:2.127659574468085%;width:100%;min-height:30px;}
.word-row-fluid [class*=span]:first-child{margin-left:0;}
.word-row-fluid .span1{width:31.914893617021278%;}
.word-row-fluid .span2{width:65.95744680851064%;}
.container-fluid{padding-right:20px;padding-left:20px;}
.container-fluid:after,.container-fluid:before{display:table;content:"";line-height:0;}
.container-fluid:after{clear:both;}
.post-header{margin:-10px -15px 10px -15px;padding:10px 15px;background:#F8F8F8;}
.post-header .post-title{float:left;padding:10px 0;width:84%;font-size:20px;line-height:26px;}
.post-header .page-title{padding:10px 0;font-size:20px;line-height:28px;}
#archive-head h1{margin-bottom:10px;font-size:20px;}
.addWord{float:right;background-image:url(../images/add.png);color:#000000;display:block;width:50px;height:50px;background-repeat: no-repeat;background-position:50% 50%;padding-top: 10px;width:15%;}
a:focus,a:hover{color:#09B1B9;text-decoration:none;cursor:pointer;}
#add-area{width:100%;height:100%;resize: none;}
#popup-register{background:#F58B3C!important;}
.pagenation { padding: 40px 30px 60px 0; color: #666; -webkit-touch-callout:none; -webkit-user-select:none; -khtml-user-select:none; -moz-user-select:none; -ms-user-select:none; user-select:none;}
.pagenation .pagenum { float: left; min-width: 30px; padding: 3px 5px; text-align: center; margin-right: 5px; cursor: pointer; font-size: 14px; border-radius: 3px; background: #f5f5f5; border: 1px solid #ddd; box-sizing: border-box; }
.pagenation .pagenum.indexpage, .pagenation .pagenum.lastpage, .pagenation .pagenum.nextpage { background: rgba(255,255,255,0); color: #d9cfce; }
.pagenation .pagenum.indexpage.active, .pagenation .pagenum.lastpage.active, .pagenation .pagenum.nextpage.active { background-color: #f5f5f5; color: #999; }
.pagenation .pagenum.indexpage.active a, .pagenation .pagenum.lastpage.active a, .pagenation .pagenum.nextpage.active a { color: #999; }
.pagenation .pagenum.pagetext, .pagenation .pagenum.totalpage { border-radius: 0px; background: rgba(255,255,255,0); border: none; }
.pagenation .pagenum a { color: #999; text-decoration: none; display: block; width: 100%; height: 100%; }
.pagenation .pageswiperbox { min-width: 35px; max-width: 175px; overflow: hidden; word-break: keep-all; white-space: nowrap; text-overflow: ellipsis; float: left; }
.pagenation .pageswiper { width: auto; }
.pagenation .pageswiper .pagenum { display: inline-block; float: none; }
.pagenation .pagenum.curpage { background: rgba(255,255,255,0); color: #FE7200; border: none; }
.pagenation .pagenum.curpage a { color: #FE7200; display: block; width: 100%; }
.pagenation .pageinput { text-align: center; border: 1px solid #e5e5e5; width: 40px; margin: 0 3px; line-height: 17px; box-sizing: border-box; vertical-align: top; }
.pagenation .pagesubbtn { background: rgba(255,255,255,0); }
.pagenation .pagesubbtn a { color: #d9cfce; }
.pagenation .pagesubbtn.active { background: #f5f5f5; }
.pagenation .pagesubbtn a { color: #999; }